{% extends "base.html" %}
{% block content %}

                <!-- Page content-->
                <div class="container-fluid", style="text-align: center;">
                    <h2 class="text-gray-900 mt-4">Introduction</h2>
                    <p align="justify" class="text-gray-900 mt-4"> Over 70% of the Earth's surface is covered by water. Monitoring water bodies' quality can aid in preserving that water's purity.
                       The chemical, physical, biological, and other components of water that vary with the seasons and geographical regions are referred to as its quality.
                       Both the environment and human activity have an impact on it. 
                       Water pollution is a foremost global problem which needs ongoing evaluation and adaptation of water resource directorial principal at the level of international
                       down to individual wells. More than 14,000 people die daily worldwide due to water pollution. In may developing countries,dity or contaminated water is being used 
                       for drinking without any proper prior treatment. Water pollution is a foremost global\rproblem which needs ongoing evaluation and adaptation of water resource at 
                       the level of international to individual wells. In many developing countries, dirty or contaminated water is being used for drinking without any proper prior treatment. 
                       The record shows that more than 14,000 people die daily worldwide due to water pollution.</p>  
                </div>
                
                {% endblock %}