{% extends "base.html" %}
{% block content %}

                <!-- Page content-->
                <div class="container-fluid", style="text-align: center;">
                    <h2 class="text-gray-900 mt-4">Objectives</h2>
                    <p align="center" class="text-gray-900 mt-4"><br>a) To identify standard dataset for the water quality detection by finding
                                                      parameters such as pH,temperature,turbidity.</p></br>
                                                     <br> b) To develop a data visualization for water quality with an outlier detection system</br>       
                </div>
                {% endblock %}