{% extends "base.html" %}
{% block content %}

                <!-- Page content-->
                <div class="container-fluid", style="text-align: center;">
                    <h2 class="text-gray-900 mt-4">Problem Statement</h2>
                    <p align="justify" class="text-gray-900 mt-4"> The most common problem with water quality is caused by raw water's
                        high levels of magnesium and iron (iron(III)oxide) concentration. Water
                        quality issues arise as a result of the water's hue changing from yellow to
                        dark brown. In addition, low pH levels stress animals' systems and cause
                        bodily harm, which makes them more susceptible to sickness and results in
                        the death of fish. Water is still measured manually for diagnostic water quality, and a
                        clinical measurement of the quality index is made in a lab. Most of the water
                        quality monitoring systems still display simple data like pH, temperature etc.
                        without any visualization. In order to improve the system,a new system is
                        proposed and the way or concept is to display the data visualization using
                        interaction in the interface. Another system analysis is probability plots are
                        created by comparing visually histograms of measured values to the curve
                        of theoretical distributions</p>  
                </div>
                {% endblock %}