{% extends "base.html" %}
{% block content %}

                <!-- Page content-->
                <div class="container-fluid", style="text-align: center;">
                    <h2 class="text-gray-900 mt-4">Scope</h2>
                    <p align="justify" class="text-gray-900 mt-4">The scope of this project is to focus on data visualization for water
                        quality with outlier detection systems. Sungai Semborong in Johor Bahru will
                        be the location of this project. The result of the water quality will be displayed
                        using a web based system and also can be viewed by all devices.The aim for this project is to determine whether the water quality is
                        acidic,neutral or basic to aquatic life. In order to determine all these water
                        quality, 8 parameters which are pH, temperature, turbidity, DO, COD, BOD,
                        TSS and nitrate will be tested in this project. </p>
                    <h2 class="text-gray-900 mt-4">Technical Scope</h2> 
                    <p align="justify" class="text-gray-900 mt-4">For the technical scope, this project is to develop and display data
                        visualization with interaction interface for the water quality monitoring with
                        outlier detection method. Python Flask and Bokeh will be used to build-up
                        data visualization with interaction and all the tested data from 8 parameters
                        will be stored in SQL database. </p>
                         
                </div>
                {% endblock %}